[user]
    name = Ingo Bürk
    email = ingo.buerk@tngtech.com

[alias]
    a = add --all
    c = commit
    st = status
    co = checkout
    up = pull --rebase
    g = grep --break --heading --line-number
    fa = fetch --all
    p = push
    pf = push -f

[color]
    diff = auto
    status = auto
    branch = auto
[push]
    default = simple
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
