*.swp
.vim/.netrwhist
.i3/config.vanilla
*/__pycache__
*.pyc

.config/*
!.config/dunst
!.config/gsimplecal
!.config/gtk-2.0
!.config/gtk-3.0
!.config/i3lock
!.config/termite
!.config/wallpapers

!.config/htop
!.config/htop/htoprc

!.config/i3blocks
!.config/i3blocks/config

.weechat/*
!.weechat/weechat.conf
!.weechat/plugins.conf
!.weechat/perl/beep.pl
