Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

URxvt.geometry: 120x50
URxvt.depth: 32
URxvt.internalBorder: 5
URxvt.background: #111111
URxvt.fading: 10

URxvt.scrollBar: off

URxvt.urgentOnBell: True
URxvt.visualBell: False

URxvt.perl-ext-common: default,selection-to-clipboard,font-size

URxvt.font: xft:Tewi:pixelsize=11
URxvt.font-size.zoomfont: xft:Terminess Powerline:pixelsize=13
URxvt.font-size.step: 2
URxvt.keysym.C-Up:   perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease
URxvt.keysym.C-Left: perl:font-size:reset

*Menu.background: Black
*Menu.foreground: White

*cursorColor: #F3F3F3
!*background: #2c2836
*foreground: #e3dfed

*color0: #2c2836
*color8: #73707e
*color1: #bb7473
*color9: #cf9fa4
*color2: #68b782
*color10: #9acbad
*color3: #abb773
*color11: #c5cba4
*color4: #7865c5
*color12: #a396d9
*color5: #bb65b6
*color13: #cf96cf
*color6: #68a8c5
*color14: #9ac1d9
*color7: #e3dfed
*color15: #f1edfb
