Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: none
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

URxvt.geometry: 100x40
URxvt.depth: 32
URxvt.internalBorder: 10
URxvt.fading: 10

URxvt.scrollBar: off
URxvt.saveLines: 60000
URxvt.scrollTtyOutput: False
URxvt.scrollTtyKeypress: True

URxvt.urgentOnBell: True
URxvt.visualBell: False

URxvt.perl-ext-common: default,selection-to-clipboard,font-size

URxvt.font: xft:Terminess Powerline:size=12
! URxvt.font-size.zoomfont: xft:Terminess Powerline:pixelsize=13
URxvt.font-size.step: 2
URxvt.keysym.C-Up:   perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease
URxvt.keysym.C-Left: perl:font-size:reset

*Menu.background: Black
*Menu.foreground: White

*cursorColor: #F3F3F3
*background: #000000
*foreground: #FFFFFF

URxvt.background: #050505

! Black + Dark Gray
*color0: #000000
*color8: #212121
! Dark Red + Red
*color1: #b71c1c
*color9: #c62828
! Dark Green + Green
*color2: #1B5E20
*color10: #2E7D32
! Dark Yellow + Yellow
*color3: #F57F17
*color11: #F9A825
! Dark Blue + Blue
*color4: #1976D2
*color12: #1E88E5
! Dark Magenta + Magenta
*color5: #4A148C
*color13: #6A1B9A
! Dark Cyan + Cyan
*color6: #0097A7
*color14: #00ACC1
! Light Gray + White
*color7: #FAFAFA
*color15: #FFFFFF
