Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

! rofi
rofi.modi: run
rofi.font: Hack 15
rofi.width: 100
rofi.lines: 5
rofi.columns: 1
rofi.opacity: 80
!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-urgent: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-active: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-window: #282828, #282828
rofi.bw: 0
rofi.location: 2
rofi.padding: 100
rofi.fuzzy: false

! === gruvbox color scheme ===
*background: #1d2021
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
